#footer{
    padding: 0%;
    margin: 0%;
    background-color: #1c1c1c;
    font-size: 14px;
    padding-top: 25px;
}
#footer>hr{
    border-color: rgb(94, 94, 94);
    width: 88%;
    margin-top: 17px;
    margin-bottom: 17px;
}
#footer p{
    margin-left: 35%;
    color: #8e8e8e;
}
#footer a{
    text-decoration: none;
    color: #8e8e8e;
}
#footer>div{
    display: flex;
    align-items: center;
    width: 88%;
    margin-left: 100px;
}
#footer>div>div:first-child{
    margin-right: 35px;
}
.footerLink{
    width: 810px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}
#footer>div:first-child>div:first-child>img{
    width: 89px;
    height: 41px;
}
#fM{
    margin-bottom: -10px;
}
.fot{
    font-size: 17px;
}
.fol{
    height: 24px;
    width: 26px;
}
#fllw>div{
    margin-top: 10px;
}
#sites{
    width: 1100px;
}