body{
    font-family: Arial, Helvetica, sans-serif;
}
#navbarTop{
    background-color: #ffde2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 100%; */
    position: relative;
    height: 45px;
}
#navbarTop>div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
#navbarTop>div:first-child>a>img{
    height: 40px;
}
#navbarTop>div:first-child>div{
    border: 1px solid black;
    border-radius: 23px;
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    font-weight: bold;
}
#navbarTop>div:first-child>div:hover{
    background-color: black;
    color: white;
}
#navbarTop>div:last-child>img{
    width: 30px;
}
#srch{
 border-radius: 10px;
 height: 35px;
 display: none;
}
#navbarTop>div:last-child{
    display: flex;
    flex-direction: column;
}

#navbarBottom{
    display: flex;
    background-color: black;
    width: 1260px;
    margin: auto;
    margin-top: 20px;
}
#navbarBottom>div:first-child{
    background-color: #aaa;
    border-radius: 0px 10px 10px 0px;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
}
#navbarBottom>div:last-child{
    background-color: black;
    height: 50px;
    margin-left: 30px;
}
#sliding_text{
    /* display: flex; */
    overflow: hidden;
    width: 680px;
}
#sliding_text p{
    width: 620px;
    margin-right: 10px;
}
#sliding_text a{
    text-decoration: none;
    color: #ffffff;
}